<html>
<body>
    <script src="/static/map.js"></script>
    <canvas id="canvas" width="768" height="768"></canvas>
    <script>
        // class MapCanvas {
        //     constructor(x, y, pixelsPerImage = 256) {
        //         this.pixelsPerImage = pixelsPerImage;
        //         this.max_y = pixelsPerImage * 56;
        //         this.x = x;
        //         this.y = y;
        //     }
        //
        //     getImagePathsArray() {
        //         const pixels = this.pixelsPerImage;
        //         const max_y = pixels * 56;
        //         const y_img_val = Math.floor((max_y - y) / pixels);
        //         const x_img_val = Math.floor(x / pixels);
        //         const blankImage = "/map/0/0/";
        //         const paths = [];
        //         for (let x = -1; x <= 1; x++) {
        //             const arr = [];
        //             for (let y = -1; y <= 1; y++) {
        //                 const xUrl = Math.floor(x_img_val + x);
        //                 const yUrl = Math.floor(y_img_val + y);
        //                 arr.push(`/map/${xUrl}/${yUrl}/`)
        //             }
        //             paths.push(arr);
        //         }
        //     }
        // }

        const sleep = (ms) => {
            return new Promise(resolve => setTimeout(resolve, ms));
        };

        const getImageXY = (rawX, rawY) => {
            const pixels = 256;
            const y_img_val = Math.floor(rawY / pixels) + 1;
            const x_img_val = Math.floor(rawX / pixels);

            const xUrl = Math.floor(x_img_val);
            const yUrl = Math.floor(y_img_val);
            return [xUrl, yUrl];
        }

        const getImagePath = (x, y) => {
            const [xUrl, yUrl] = getImageXY(x, y);
            const paths = [];
            let loaded = 0;
            for (let x = -1; x <= 1; x++) {
                const arr = [];
                for (let y = 1; y >= -1; y--) {
                    arr.push(`/map/${xUrl+x}/${yUrl+y}/`)
                    loaded += 1;
                    if(loaded == 9) {
                        console.log("Done!");
                    }
                }
                paths.push(arr);
            }
            console.log(paths);
            return paths;
        }

        const drawPoints = (ctx) => {
            var hotspots=[
                {x:100,y:100,radius:20,tip:'You are over 100,100'},
                {x:100,y:200,radius:20,tip:'You are over 100,200'},
            ];        const points = [
                [10397.17, 3307.20],
                // [10387.24, 3381.99],
                // [10368.18, 3375.69]
            ];
            points.forEach(([x, y]) => {
                const myRelativeX = Math.floor(x % (256 * 3));
                const myRelativeY = 756 - Math.floor(y % (256 * 3)) - 256;
                ctx.beginPath();
                ctx.arc(myRelativeX, myRelativeY, 2, 0, 2 * Math.PI);
                ctx.fillText(`${x}, ${y} - ${myRelativeX}, ${myRelativeY}`, myRelativeX, myRelativeY);
                ctx.stroke();
            });
            // const myRelativeX = 384;
            // const myRelativeY = 203;
            // ctx.beginPath();
            // ctx.arc(myRelativeX, myRelativeY, 5, 0, 2 * Math.PI);
            // ctx.fillText(`${myRelativeX}, ${myRelativeY}`, myRelativeX, myRelativeY);
            // ctx.stroke();
        };

        const drawBorder = (ctx) => {
            ctx.beginPath();
            ctx.moveTo(256, 0);
            ctx.lineTo(256, 256 * 3);
            ctx.moveTo(256 * 2, 0);
            ctx.lineTo(256 * 2, 256 * 3);
            ctx.moveTo(0, 256);
            ctx.lineTo(256 * 3, 256);
            ctx.moveTo(0, 256 * 2);
            ctx.lineTo(256 * 3, 256 * 2);

            ctx.moveTo(256 / 2, 0);
            ctx.lineTo(256 / 2, 256 * 3);
            ctx.moveTo(0, 256 / 2);
            ctx.lineTo(256 * 3, 256 / 2);

            ctx.stroke();
        }

        async function draw() {
            const ctx = document.getElementById('canvas').getContext('2d');
            ctx.width = 256 * 3;
            ctx.height = 256 * 3;

            let coordX = 10397.17;
            let coordY = 3307.20;


            for (let i = 0; i < 100; i++) {
                const imagePaths = getImagePath(coordX++, coordY++);
                let totalLoaded = 0;
                for (let x = -1; x <= 1; x++) {
                    for (let y = -1; y <= 1; y++) {
                        const image = new Image();
                        image.style.border = "1px solid black;"
                        image.onload = function () {
                            const pasteX = (x + 1) * 256 + i;
                            const pasteY = (y + 1) * 256 + i;
                            ctx.drawImage(image, pasteX, pasteY);
                            if(++totalLoaded == 9) {
                                // code for shift entire image and clear remaining
                                drawPoints(ctx);
                                const imageData = ctx.getImageData(0, 0, ctx.canvas.width, ctx.canvas.height);
                                // const shiftX = -(coordX % 256 + 256 / 2);
                                // const whereIsY = -Math.abs(Math.floor(coordY % (256 * 3)) - 256)  / 2 - 256 / 2;
                                // console.log(whereIsY);

                                ctx.putImageData(imageData, 0, 0);
                                drawBorder(ctx);
                                // now clear the right-most pixels:
                                // ctx.clearRect(256, 0, ctx.canvas.width, ctx.canvas.height);
                                // ctx.clearRect(0, 256, ctx.canvas.width, ctx.canvas.height);
                            }
                        }
                        image.src = imagePaths[x + 1][y + 1];
                    }
                }
                break;
                await sleep(250);
            }
        }

        const canvas = document.getElementById('canvas');
        const map = new Map(canvas, 0, 0);
    </script>
</body>
</html>